/TestingSystem/Server/bin/Debug
/TestingSystem/Client/bin/Debug/Client.exe.config
/TestingSystem/Client/bin/Debug/Client.pdb
/TestingSystem/Client/bin/Debug/DatabaseLibrary.dll
/TestingSystem/Client/bin/Debug/DatabaseLibrary.dll.config
/TestingSystem/Client/bin/Debug/DatabaseLibrary.pdb
/TestingSystem/Client/bin/Debug/DTO.dll
/TestingSystem/Client/bin/Debug/DTO.pdb
/TestingSystem/Client/bin/Debug/Client.exe
/TestingSystem/Client/obj/Debug/Client.csproj.FileListAbsolute.txt
/TestingSystem/Client/obj/Debug/Client.csproj.GenerateResource.cache
/TestingSystem/Client/obj/Debug/Client.csprojAssemblyReference.cache
/TestingSystem/Client/obj/Debug/Client.exe
/TestingSystem/Client/obj/Debug/Client.g.resources
/TestingSystem/Client/obj/Debug/Client.pdb
/TestingSystem/Client/obj/Debug/Client.Properties.Resources.resources
/TestingSystem/Client/obj/Debug/Client_MarkupCompile.cache
/TestingSystem/Client/obj/Debug/Client_MarkupCompile.i.cache
/TestingSystem/Client/obj/Debug/Client_MarkupCompile.i.lref
/TestingSystem/Client/obj/Debug/Client_MarkupCompile.lref
/TestingSystem/Client/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/TestingSystem/Client/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/TestingSystem/Client/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
/TestingSystem/Client/obj/Debug/LoginWindow.g.cs
/TestingSystem/Client/obj/Debug/LoginWindow.g.i.cs
/TestingSystem/Client/obj/Debug/MainWindow.g.cs
/TestingSystem/Client/obj/Debug/MainWindow.g.i.cs
/TestingSystem/Client/obj/Debug/Page1.g.i.cs
/TestingSystem/Client/obj/Debug/RegistrarionWindow.g.cs
/TestingSystem/Client/obj/Debug/RegistrarionWindow.g.i.cs
/TestingSystem/Client/obj/Debug/Pages
/TestingSystem/Client/obj/Debug/TempPE
/TestingSystem/Client/obj/Debug/App.g.cs
/TestingSystem/Client/obj/Debug/App.g.i.cs
/TestingSystem/Client/obj/Debug/ChangeUserLogin.g.i.cs
/TestingSystem/Client/obj/Debug/ChangeUserPassword.g.cs
/TestingSystem/Client/obj/Debug/ChangeUserPassword.g.i.cs
/TestingSystem/Client/obj/Debug/Client.csproj.CopyComplete
Client.csproj.CopyComplete
Client.csproj.FileListAbsolute.txt
Client.csproj.GenerateResource.cache
Client.csprojAssemblyReference.cache
Client.exe
Client.g.resources
Client.pdb
Client.Properties.Resources.resources
Client_MarkupCompile.cache
Client_MarkupCompile.i.cache
Client_MarkupCompile.i.lref
Client_MarkupCompile.lref
DesignTimeResolveAssemblyReferences.cache
DesignTimeResolveAssemblyReferencesInput.cache
GeneratedInternalTypeHelper.g.i.cs
LoginWindow.g.cs
LoginWindow.g.i.cs
MainWindow.g.cs
MainWindow.g.i.cs
Page1.g.i.cs
RegistrarionWindow.g.cs
RegistrarionWindow.g.i.cs
Pages
App.g.cs
App.g.i.cs
ChangeUserLogin.g.i.cs
ChangeUserPassword.g.cs
ChangeUserPassword.g.i.cs
obj
bin
